<div class="header">
  <h1>The Bucket List</h1>
  <p>Where we make your dreams come true ...or else.</p>
  <%= button_to 'Log Out', destroy_user_session_path, method: :delete %>
</div>

<br />
<div class='row bottom-half'>
  <div class="container col s12 m8 l8 current_user_list">
    <h2>Bucket Lists for user: <%= current_user.first_name %> </h2>
    <% if current_user.lists.any? %>
      <% current_user.lists.each do |list| %>
      <div class="list_block center-align">
        <%= link_to "#{list.name}", list_path(list) %><br />
        <p>Items: <%= list.items.count %></p>
        <p>Date Created: <%= list.date %></p> 
      </div>
      <% end %>
    <% end %>
  </div>    
  <div class = 'center-align container col s12 m4 l4 offset-s6 all_users_lists'>
    <h2>Other Users Lists</h2>
    <% if @users.any? %>
      <% @users.each do |user| %>
        <% if user.lists.any? && user != current_user %>
          <% user.lists.each do |list| %>
            <div class= "container list_block">
              <%= link_to "#{list.name}", list_path(list) %><br />
              <p>Date Created: <%= list.date %> 
              <br/> Created by: <%= user.first_name %>  </p>
            </div>
          <% end %>  
        <% end %>
      <% end %>  
    <% end %>  
  </div>
</div>





