<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

<div class="header">
<h1>Welcome to the Bucket List Online Manager!</h1>
<p>Where we make your dreams come true</p>
<p>....or else....</p>
<%= button_to 'Log Out', destroy_user_session_path, method: :delete %>
</div>

<hr />

<div class="container">
<h2>Bucket Lists for user: <%= current_user.first_name %> </h2>

<% if current_user.lists.any? %>
        <% current_user.lists.each do |list| %>
        <div class= "list_block">
          <%= link_to "#{list.name}", list_path(list) %><br />
          <p>Items: <%= list.items.count %></p>
          <p>Date Created: <%= list.date %> 
        </div>
        <% end %>
<% else %>
  <p>No Bucket Lists</p>
<% end %>
</div>


<hr />
<div class = 'button_link'>
  <%= link_to 'New List', new_list_path %></h5>
</div>

<hr />

<div class = 'all_users_lists'>
<h2>Other Users Lists</h2>
  <% if @users.any? %>
    <% @users.each do |user| %>
      <% if user.lists.any? %>
        <% user.lists.each do |list| %>
          <div class= "list_block">
            <%= link_to "#{list.name}", list_path(list) %><br />
            <p>Date Created: <%= list.date %> 
            <br/> Created by: <%= user.first_name %>  </p>
          </div>
        <% end %>
      <% end %>  
    <% end %>
  <% else %>
    <p>No Bucket Lists</p>
  <% end %>
</div>


<hr />




