<div class="header">
<h1>Welcome to the Bucket List Online Manager!</h1>
<%= button_to 'Log Out', destroy_user_session_path, method: :delete %>
<br />
<p>Where we make your dreams come true</p>
<p>....or else....</p>
<h3>Bucket Lists for user: <%= current_user.first_name %> </h3>
</div>

<hr />
<div class="container">

<% if current_user.lists.any? %>
        <% current_user.lists.each do |list| %>
        <div class= "list_block">
          <%= link_to "#{list.name}", list_path(list) %><br />
          <p>Date Created: <%= list.date %> 
          <br/> Created by: <%= current_user.first_name %>  </p>
        </div>
        
        <% end %>
     
<% else %>
  <p>No Bucket Lists</p>
<% end %>

</div>


<hr />
<div class = 'button_link'>
  <%= link_to 'New List', new_list_path %></h5>
</div>

<hr />

<div class = 'all_users_lists'>
<h2>Other Users Lists</h2>
  <% if @users.any? %>
    <% @users.each do |user| %>
      <% if user.lists.any? && user != current_user %>
        <% user.lists.each do |list| %>
          <div class= "list_block">
            <%= link_to "#{list.name} Bucket List", list_path(list) %><br />
            <p>Date Created: <%= list.date %> 
            <br/> Created by: <%= user.first_name %>  </p>
          </div>
        <% end %>
      <% else %>
        <p>There are more users, but no more lists </p>
      <% end %>
    <% end %>
  <% else %>
    <p>No More Bucket Lists</p>
  <% end %>
</div>


<hr />




