<h1>Make a New Item For your Bucket List</h1>
<%= form_for [@list, @item] do |f| %>

<%= f.label :name %>
<%= f.text_field :name, placeholder: 'goal' %>

<%= f.label :goal_dates %>
<%= f.date_field :goal_dates %>

<%= f.submit %>

<% end %>
